<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      Searchbar
    </ion-title>
  </ion-toolbar>
  <ion-searchbar #searchBar [(ngModel)]="searchValue" (ionInput)="search($event)" [disabled]=""></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="list" mode="ios">
    <ng-container *ngIf="searchValue.length>0;then searchBlock; else defaultBlock"></ng-container>
    <ng-template #defaultBlock>
      <ng-container *ngIf="!isLoading">
        <ion-item *ngFor="let good of currentGoods" (click)="goToItem(good.sku)">
          <ion-avatar slot="start">
            <ion-img [src]="good.image" loading="lazy"></ion-img>
          </ion-avatar>
          <ion-label>
            <h3>
              {{good.name}}
            </h3>
            <p>{{good.description}}</p>
          </ion-label>
        </ion-item>  
      </ng-container>
    </ng-template>
    <ng-template #searchBlock>
      <ng-container *ngIf="!isLoading && searchData.length">
        <ion-item *ngFor="let good of searchData" (click)="goToItem(good.sku)">
          <ion-avatar slot="start">
            <ion-img [src]="good.image" loading="lazy"></ion-img>
          </ion-avatar>
          <ion-label>
            <h3>
              {{good.name}}
            </h3>
            <p>{{good.description}}</p>
          </ion-label>
        </ion-item>  
      </ng-container>
      <ng-container *ngIf="!isLoading && searchEmpty">
        <p class="empty">Nothing found</p>
      </ng-container>
    </ng-template>
    <ng-container *ngIf="isLoading"> 
      <ion-item *ngFor="let skeleton of skeletonArr">
        <ion-avatar slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-infinite-scroll *ngIf="!isLoading" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>